<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "user/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email, "メールアドレス" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password, "パスワード" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "パスワード確認" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :nickname %><br />
    <%= f.text_field :nickname, autocomplete: "new-nickname" %>
  </div>

  <div class="field">
    <%= f.label :sex, "性別" %><br />
    <%= f.label :man, User.sexes_i18n[:man] %>
    <%= f.radio_button :sex, User.sexes.key(0) %>
    <%= f.label :woman, User.sexes_i18n[:woman] %>
    <%= f.radio_button :sex, User.sexes.key(1) %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "user/shared/links" %>
