    <div class = "container">
     <div class="row justify-content-center">
        <span class="border border-primary">

          <div class = "center">
            <% if @user.image.attached? %>
              <%= image_tag @user.image, size: "200x200" %>
            <% else %>
              <%= image_tag 'no_image', size: "200x200" %>
            <% end %>
          </div>
            <%= "ニックネーム: " %><%= @user.nickname %><br />
            <%= "性別: " %><%= @user.sex_i18n %>

        </span>



    </div>
</div>