   <h1>お気に入り一覧</h1>
    　<div class="d-flex align-items-center justify-content-center">
        <table class = "table">
            <thead>
              <tr>
                <th></th>
                <th>タイトル</th>
              </tr>
            </thead>
            <% @bookmarks.each do |bookmark| %>
            <tbody>
              <tr>
                <td>
                  <%= link_to bookmark.book.item_url do %>
                    <%= image_tag bookmark.book.small_image_url %>
                  <% end %>
                </td>
                <td>
                  <%= bookmark.book.title %>
                </td>
                <td><%= link_to "詳細", book_path(bookmark.book) %></td>
              </tr>
              <tr>
                <td> <%= link_to "ブックマークから外す", deleter_path(bookmark.book), class: "btn btn-sm m-3 btn-danger", method: :delete %></td>
              </tr>
            </tbody>
            <% end %>
        </table>
      </div>




</div>