<div class = "container">
  <div class = "row">
    <div class = "col-4">
           <% if user_signed_in? %>

                <h2 class = "btn btn-sm m-3 btn-danger">
                  ユーザープロフィール
                </h2>

              <table class = "table">
                <thead>
                 <header class="shadow-sm">
                  <tr>
                    <th>

                        <% if @user.image.attached? %>
                          <%= image_tag @user.image, size: "200x200" %>
                        <% else %>
                          <%= image_tag 'no_image.jpg', size: "200x200" %>
                        <% end %>

                    </th>
                  </tr>
                 </header>
                </thead>
                <tbody>
                  <tr>
                      <th> <%= "ニックネーム" %></th>
                      <td><%= @user.nickname %></td>
                  </tr>
                  <tr>
                    <th><%= "性別" %></th>
                    <td><%= @user.sex_i18n %></td>
                  </tr>
                </tbody>
              </table>

           <% end %>

    </div>
    <div class = "col-8">
      <div class=".search-box">
        <%= form_with url: new_book_path , method: :get, local: true do |f| %>
          <%= f.text_field :keyword %>
          <%= f.submit '本の題名を検索', class: "btn btn-success" %>
        <% end %>
      </div>
      <% if @books.present? %>
       <table class = "table">
        <thaed>
          <tr>
            <th></th>
            <th>タイトル</th>
            <th>出版社</th>
            <th>著者</th>
            <th>金額</th>
          </tr>
        </thaed>
        <tbody>
          <% @books.each do |book| %>
            <div class="commic-data">
              <tr>
                <td>
                  <%= link_to book.item_url do %>
                  <%= image_tag book.small_image_url %>
                  <% end %>
                </td>
                <td><%= book.title %></td>
                <td><%= book.publisher_name %></td>
                <td><%= book.author %></td>
                <td><%= book.item_price %><%= "円" %></td>
                <td><%= link_to "詳細", book_path(book) %></td>

              </tr>
            </div>
          <% end %>
        </tbody>
       </table>
      <% else %>
        <div class = "center-block">
          <h1>Welcome To Review</h1>
      <% end %>
    </div>
  </div>
</div>


