
 <table class = "table">
  <thead>
      <tr>
          <th></th>
          <th>タイトル</th>
          <th>作者</th>
          <th>あらすじ</th>
      </tr>
  </thead>
  <tbody>
   <tr>
    <th>
     <%= link_to @book.item_url do %>
       <%= image_tag @book.small_image_url %>
     <% end %>
    </th>
    <td>
     <%= @book.title %>
    </td>
    <td>
     <%= @book.author %>
    </td>
    <td><%= @book.item_caption %></td>
   </tr>
  </tbody>
 </table>


<% if user_signed_in? %>


 <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">評価</button>
 <div id="demo" class="collapse mx-2">
     <%= form_with model: @post, url: creater_path, method: :post, local: true do |f| %>
      <%= f.hidden_field :book_isbn, value: params[:id] %>
      <div class="form-group" id = "star">
        <%= f.label :star,'評価 ', class:'col-md-3 col-form-label' %>
        <%= f.hidden_field :star, id: :review_star %>
    　</div>
      <script>
    　　　　$('#star').empty();
      $('#star').raty({
        size     : 36,
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        scoreName: 'post[star]',
        half: false,
      });
      </script>
      <div class="form-group">
        <%= f.label :comment, '口コミ内容 ', class:'col-ml-5 col-form-label' %>
          <%= f.text_area :comment, class: "m-4 form-control", rows: "6",
            placeholder:'星評価のみでも構いません。お好きな評価をしてください' %>
      </div>
      <%= f.submit '投稿する', class:"btn btn-success" %>
    <% end %>
 </div>
 <%= link_to "ブックマーク", bookmark_path(book_isbn: @book.isbn), class: "btn btn-sm m-3 btn-danger", method: :post %>
<% end %>
      <table class = "table">
        <thead>
          <tr>
              <th>評価</th>
              <th>コメント</th>
          </tr>
        </thead>
          <% @posts.each do |post| %>
            <tbody>
              <tr>
               <td>

                              <div id="star-rate<%= post.id%>">
                              <script>
                                $('#star-rate<%= post.id %>').empty();
                                $('#star-rate<%= post.id%>').raty({
                                  size      : 36,
                                  starOff   : '<%= asset_path('star-off.png') %>',
                                  starOn    : '<%= asset_path('star-on.png') %>',
                                  half      : false,
                                  readOnly: true,
                                  score: <%= post.star %>,
                                });
                              </script>
                              </div>


               </td>
               <td><%= post.comment %></td>
              </tr>
            </tbody>
          <%end%>
      </table>




