<div class = "container">
     <div class="row justify-content-center">
        <span class="border border-primary">
        </span>
     </div>
</div>

          <div class = "center">
 <table class = "table">
  <tbody>
   <tr>
    <th>
     <%= link_to @book.item_url do %>
       <%= image_tag @book.small_image_url %>
     <% end %>
    </th>
    <td>
     <%= @book.title %>
    </td>
    <td>
     <%= @book.author %>
    </td>
    <td><%= @book.item_caption %></td>
   </tr>
  </tbody>
 </table>

 <div class="form-group row" id="star">
    <%= f.label :star,'評価 ', class:'col-md-3 col-form-label' %>
    <%= f.hidden_field :star, id: :review_star %>
　　　　</div>
  <script>
　　　　$('#star').empty();
  $('#star').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    scoreName: 'post[star]',
    half: false,
  });
  </script>

