<%= form_with model: @post, url: '/posts', method: :post, local: true do |f| %>
  <div class="form-group row" id = "star">
    <%= f.label :star,'評価 ', class:'col-md-3 col-form-label' %>
    <%= f.hidden_field :star, id: :review_star %>
　</div>
  <script>
　　　　$('#star').empty();
  $('#star').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    scoreName: 'post[star]',
    half: false,
  });
  </script>
  <div class="form-group row">
    <%= f.label :comment, '口コミ内容 ', class:'col-md-3 col-form-label' %>
    <div class="col-md-9">
      <%= f.text_area :comment, class: "form-control", rows: "6",
        placeholder:'口コミ内容がなくても、タイトルと評価のみで投稿できます。
まずは投稿してみましょう！投稿してから編集もできますよ！' %>
    </div>
  </div>
  <%= f.submit '投稿する', class:"btn btn-success" %>
<% end %>

